<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= open_graph_tags %>
  <script type="text/javascript" src="//use.typekit.net/ccj0nnj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<header>
  <div class="container noclearfix">
    <nav class="left">
      <%= link_to '', root_path, :class => 'nav-item bold gbtc-logo' %>
      <%= link_to 'Events', events_path, :class => 'nav-item' %>
    </nav>

    <div id="account-nav" class="right">
      <%= render partial: "shared/#{current_user.nil? ? '' : 'logged_in_'}session_actions" %>
    </div>

    <% if notice || alert %>
      <div class="messages">
        <% if notice %><p class="message notice"><%= notice %></p><% end %>
        <% if alert %><p class="message alert"><%= alert %></p><% end %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</header>

<%= yield %>

<div id="footer">
  <div class="container">
    <p>
      Crafted with love in <%= link_to 'Baltimore', 'http://madewithloveinbaltimore.org/' %> by: <a href="http://friendsoftheweb.com" class="ftw-logo"><%= image_tag 'ftw-logo.svg', title: 'Built by Friends of The Web' %> FTW</a> & <a href="http://inthebackforty.com" class="backforty-logo"><%= image_tag 'backforty-logo.svg', title: 'Build by Back Forty' %> Back Forty</a>
    </p>
  </div>
</div>
</body>
</html>
